@import "tailwindcss";

html {
  font-family: "Nunito";
}

:root {
  --color-zus-yellow: #FFB34F; 
  --color-zus-green: #00993F; 
  --color-zus-grey: #BEC3CE;
  --color-zus-blue: #3F84D2;
  --color-zus-dark-blue: #00416E;
  --color-zus-red: #F05E5E;
  --color-zus-black: #000000;
  --color-zus-white: #FFFFFF;
}

.color-zus-yellow {
  color: var(--color-zus-yellow);
}

.color-zus-green {
  color: var(--color-zus-green);
}

.color-zus-grey {
  color: var(--color-zus-grey);
}

.color-zus-blue {
  color: var(--color-zus-blue);
}

.color-zus-dark-blue {
  color: var(--color-zus-dark-blue);
}

.color-zus-red {
  color: var(--color-zus-red);
}

.color-zus-black {
  color: var(--color-zus-black);
} 

.color-zus-white {
  color: var(--color-zus-white);
}

/* Background color classes for ZUS colors */
.bg-zus-blue {
  background-color: var(--color-zus-blue);
}

.bg-zus-dark-blue {
  background-color: var(--color-zus-dark-blue);
}

/* Border color classes for ZUS colors */
.border-zus-blue {
  border-color: var(--color-zus-blue);
}

.border-zus-dark-blue {
  border-color: var(--color-zus-dark-blue);
}

/* Custom class to override description color to red */
.red-description {
  border-color: var(--color-zus-red) !important;
}

.red-description p:first-of-type {
  color: var(--color-zus-red) !important;
}

/* Custom class to override description color to green */
.green-description p:first-of-type {
  color: var(--color-zus-green) !important;
}